<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.wada811.ghblog"
          xmlns:android="http://schemas.android.com/apk/res/android"
    >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".GHBlogApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.OAuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="ghblog" />
                <data android:host="oauth.ghblog.com" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.BlogSettingsActivity" />
        <activity android:name=".view.activity.ArticleListActivity" />
        <activity android:name=".view.activity.ArticleCreateActivity"
                  android:windowSoftInputMode="stateVisible|adjustPan"
            />
        <activity android:name=".view.activity.ArticleEditActivity"
                  android:windowSoftInputMode="stateVisible|adjustPan"
            />
        <activity android:name=".view.activity.ArticleTagEditActivity" />
    </application>
</manifest>